<div class="flex justify-between items-center w-full px-5 py-3">
    <div class="flex items-center gap-2">
        <button title="Navigation menu" type="button" @onclick="ToggleNavMenu"
                class="inline-flex lg:hidden items-center p-2 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
            <span class="sr-only">Open sidebar</span>

            <span class="material-symbols-outlined w-6 h-6">
                menu_open
            </span>
        </button>

        <span class="inline-flex lg:hidden items-center text-lg text-gray-500">Merch Store</span>
    </div>

    <div class="flex items-center">
        <NavLink href="login"
                class="flex items-center p-2 text-md text-gray-700 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
            <svg class="w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"
                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
            </svg>
            <span class="ms-2">Login</span>
        </NavLink>
    </div>
</div>

<aside class=@SidebarCss>
    <div class="flex items-center gap-2 px-4 py-3">
        <button title="Close sidebar" type="button" @onclick="ToggleNavMenu"
            class="inline-flex lg:hidden items-center p-2 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <span class="sr-only">Close sidebar</span>
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
                <path clip-rule="evenodd" fill-rule="evenodd"
                    d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z" />
            </svg>
        </button>

        <span class="text-white text-lg">Merch Store</span>
    </div>

    <nav class="h-full px-3 py-4 overflow-y-auto bg-gray-800">
        <ul class="space-y-2 font-medium">
            <NavLink href="" Match="NavLinkMatch.All"
                     class="flex items-center p-2 rounded-lg text-white hover:bg-gray-700 group"
                     activeclassname="bg-white/30">
                <span class="material-symbols-outlined w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
                    home
                </span>
                <span class="ms-3">Home</span>
            </NavLink>

            <NavLink href="products"
                     class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <span class="material-symbols-outlined w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
                    shopping_bag
                </span>
                <span class="ms-3">Products</span>
            </NavLink>
        </ul>
    </nav>
</aside>

@code {
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private string SidebarCss =>
        collapseNavMenu
            ? "fixed top-0 left-0 z-40 w-64 h-screen transition-transform transform -translate-x-full lg:translate-x-0 bg-gray-50 dark:bg-gray-800"
            : "fixed top-0 left-0 z-40 w-64 h-screen transition-transform transform translate-x-0 bg-gray-50 dark:bg-gray-800";
}