@page "/"

<PageTitle>Home</PageTitle>

<main>
    <div class="overflow-hidden">
        <div class="relative">
            <div class="px-4 pt-10 sm:px-6 lg:px-8 lg:pt-14 mx-auto">
                <div class="max-w-2xl mx-auto text-center mb-10">
                    <h2 class="text-3xl leading-tight font-bold md:text-4xl">
                        Welcome to Merch Store!
                    </h2>
                    <p class="mt-2 lg:text-lg text-gray-800">
                        Discover awesome personalized T-shirts, now available nationwide.
                    </p>
                </div>

                <Products />
            </div>
        </div>
    </div>

    <FeaturesStats />
    <Faqs />
</main>